body {
  height: 100vh;
}

#app-field {
  font-family: "roboto", serif;
  text-align: center;
  width: 500px;
  border: 3px grey solid;
  border-radius: 15px;
  top: 50%;
}

#timer-field {
  font-size: 100px;
  padding: 0;
}
#session-field {
  padding: 20px 0 20px 0;
}

#setup-field {
  padding: 20px 0 20px 0;
}

#setup-field div {
  padding: 0px 10px 0px 10px;
  color: grey;
}

#player-field {
  padding: 20px 0 20px 0;
  border-top: 1px grey solid;
  width: 100%;
}

#signature {
  color: grey;

  font-size: 0.8em;
}
